
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/" (click)="setPageHeader('home')">Billing center</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" (click)="setPageHeader('home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="form-inline mt-2 mt-md-0 d-none">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>
<div class="row marg-zero">
<div class="col-md-2 col-lg-2">
    <div class="side-nav-fixed">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info" routerLink="/company" (click)="setPageHeader('company')"><h6>Company</h6></li>
            <li class="list-group-item list-group-item-info" routerLink="/distict" (click)="setPageHeader('distict')"><h6>Distict</h6></li>
            <li class="list-group-item list-group-item-info"><h6>Cras justo odio</h6></li>
            <li class="list-group-item list-group-item-info"><h6>Cras justo odio</h6></li>
            <li class="list-group-item list-group-item-info"><h6>Cras justo odio</h6></li>
          </ul>
    </div>
</div>
<div class="col-md-10 col-lg-10">
<main role="main" class="container">
  <!--The content below is only a placeholder and can be replaced.-->
     <div class="card">    
        <div class="alert page-header"><h6>{{ pageHeader }}</h6></div> 
      <div class="card-body content-screen-ht">        
        <div class="card-text">          
          <router-outlet></router-outlet>
      </div>      
    </div>
  </div>
</main>
</div>
</div>

